In [46]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [47]:
nypd_data = pd.read_csv('NYPD_Arrests_Data__Historic__20241015.csv')

In [48]:
print("NYPD Data:\n", nypd_data.head())

NYPD Data:
    ARREST_KEY ARREST_DATE  PD_CD       PD_DESC  KY_CD   OFNS_DESC    LAW_CODE  \
0   220756993  11/19/2020  155.0        RAPE 2  104.0        RAPE  PL 1303001
1   221995093  12/18/2020  177.0  SEXUAL ABUSE  116.0  SEX CRIMES  PL 1306503
2   221558560   12/9/2020  157.0        RAPE 1  104.0        RAPE  PL 1303501
3   217890363   9/15/2020    NaN           NaN    NaN         NaN  PL 2650022
4   219517698  10/21/2020  153.0        RAPE 3  104.0        RAPE  PL 1302502

  LAW_CAT_CD ARREST_BORO  ARREST_PRECINCT  JURISDICTION_CODE AGE_GROUP  \
0          F           B               41                0.0     18-24
1          F           K               84                0.0     45-64
2          F           S              120                0.0       <18
3          M           B               44                0.0     25-44
4          F           Q              112                0.0     25-44

  PERP_SEX       PERP_RACE  X_COORD_CD  Y_COORD_CD   Latitude  Longitude  \
0        M           BLACK     1013232      236725  40.816392 -73.895296
1        M           WHITE      989013      192652  40.695469 -73.982825
2        M           BLACK      962748      174174  40.644726 -74.077483
3        M           BLACK     1009412      245306  40.839956 -73.909065
4        M  WHITE HISPANIC     1025420      202485  40.722364 -73.851474

                                         Lon_Lat
0  POINT (-73.89529641399997 40.816391847000034)
1   POINT (-73.98282507899995 40.69546894100006)
2   POINT (-74.07748315899995 40.64472613100002)
3   POINT (-73.90906496999997 40.83995593800007)
4   POINT (-73.85147389399998 40.72236368700004)

In [49]:
#FINDING NULL VALUES
missing_values = nypd_data.isnull().sum()
print(missing_values)

ARREST_KEY              0
ARREST_DATE             0
PD_CD                 272
PD_DESC               522
KY_CD                 723
OFNS_DESC             522
LAW_CODE               68
LAW_CAT_CD           3399
ARREST_BORO             4
ARREST_PRECINCT         0
JURISDICTION_CODE       4
AGE_GROUP               0
PERP_SEX                0
PERP_RACE               0
X_COORD_CD              0
Y_COORD_CD              0
Latitude                0
Longitude               0
Lon_Lat                 0
dtype: int64

In [50]:
#FINDING ATTRIBUTES
for attributes in nypd_data:
    print(attributes)
    print(nypd_data[attributes], '\n')

ARREST_KEY
0          220756993
1          221995093
2          221558560
3          217890363
4          219517698
             ...
1048570    247030544
1048571    241671912
1048572    240602277
1048573    245734171
1048574    241900202
Name: ARREST_KEY, Length: 1048575, dtype: int64

ARREST_DATE
0          11/19/2020
1          12/18/2020
2           12/9/2020
3           9/15/2020
4          10/21/2020
              ...
1048570     6/22/2022
1048571      3/6/2022
1048572     2/15/2022
1048573     5/27/2022
1048574     3/10/2022
Name: ARREST_DATE, Length: 1048575, dtype: object

PD_CD
0          155.0
1          177.0
2          157.0
3            NaN
4          153.0
           ...
1048570    101.0
1048571    259.0
1048572    639.0
1048573    268.0
1048574    515.0
Name: PD_CD, Length: 1048575, dtype: float64

PD_DESC
0                                    RAPE 2
1                              SEXUAL ABUSE
2                                    RAPE 1
3                                       NaN
4                                    RAPE 3
                         ...
1048570                           ASSAULT 3
1048571    CRIMINAL MISCHIEF,UNCLASSIFIED 4
1048572             AGGRAVATED HARASSMENT 2
1048573                  CRIMINAL MIS 2 & 3
1048574         CONTROLLED SUBSTANCE,SALE 3
Name: PD_DESC, Length: 1048575, dtype: object

KY_CD
0          104.0
1          116.0
2          104.0
3            NaN
4          104.0
           ...
1048570    344.0
1048571    351.0
1048572    361.0
1048573    121.0
1048574    117.0
Name: KY_CD, Length: 1048575, dtype: float64

OFNS_DESC
0                                    RAPE
1                              SEX CRIMES
2                                    RAPE
3                                     NaN
4                                    RAPE
                        ...
1048570      ASSAULT 3 & RELATED OFFENSES
1048571    CRIMINAL MISCHIEF & RELATED OF
1048572     OFF. AGNST PUB ORD SENSBLTY &
1048573    CRIMINAL MISCHIEF & RELATED OF
1048574                   DANGEROUS DRUGS
Name: OFNS_DESC, Length: 1048575, dtype: object

LAW_CODE
0          PL 1303001
1          PL 1306503
2          PL 1303501
3          PL 2650022
4          PL 1302502
              ...
1048570    PL 1200001
1048571    PL 1450001
1048572    PL 2403005
1048573    PL 1450502
1048574    PL 2203901
Name: LAW_CODE, Length: 1048575, dtype: object

LAW_CAT_CD
0          F
1          F
2          F
3          M
4          F
          ..
1048570    M
1048571    M
1048572    M
1048573    F
1048574    F
Name: LAW_CAT_CD, Length: 1048575, dtype: object

ARREST_BORO
0          B
1          K
2          S
3          B
4          Q
          ..
1048570    K
1048571    Q
1048572    K
1048573    K
1048574    Q
Name: ARREST_BORO, Length: 1048575, dtype: object

ARREST_PRECINCT
0           41
1           84
2          120
3           44
4          112
          ...
1048570     79
1048571    103
1048572     73
1048573     79
1048574    114
Name: ARREST_PRECINCT, Length: 1048575, dtype: int64

JURISDICTION_CODE
0          0.0
1          0.0
2          0.0
3          0.0
4          0.0
          ...
1048570    2.0
1048571    0.0
1048572    0.0
1048573    0.0
1048574    0.0
Name: JURISDICTION_CODE, Length: 1048575, dtype: float64

AGE_GROUP
0          18-24
1          45-64
2            <18
3          25-44
4          25-44
           ...
1048570    25-44
1048571    25-44
1048572    25-44
1048573    25-44
1048574    45-64
Name: AGE_GROUP, Length: 1048575, dtype: object

PERP_SEX
0          M
1          M
2          M
3          M
4          M
          ..
1048570    M
1048571    M
1048572    M
1048573    M
1048574    M
Name: PERP_SEX, Length: 1048575, dtype: object

PERP_RACE
0                   BLACK
1                   WHITE
2                   BLACK
3                   BLACK
4          WHITE HISPANIC
                ...
1048570             BLACK
1048571    BLACK HISPANIC
1048572             BLACK
1048573             WHITE
1048574    WHITE HISPANIC
Name: PERP_RACE, Length: 1048575, dtype: object

X_COORD_CD
0          1013232
1           989013
2           962748
3          1009412
4          1025420
            ...
1048570     998314
1048571    1041246
1048572    1008227
1048573     996635
1048574    1007788
Name: X_COORD_CD, Length: 1048575, dtype: int64

Y_COORD_CD
0          236725
1          192652
2          174174
3          245306
4          202485
            ...
1048570    192760
1048571    196428
1048572    183789
1048573    190862
1048574    219633
Name: Y_COORD_CD, Length: 1048575, dtype: int64

Latitude
0          40.816392
1          40.695469
2          40.644726
3          40.839956
4          40.722364
             ...
1048570    40.695750
1048571    40.705644
1048572    40.671104
1048573    40.690542
1048574    40.769495
Name: Latitude, Length: 1048575, dtype: float64

Longitude
0         -73.895296
1         -73.982825
2         -74.077483
3         -73.909065
4         -73.851474
             ...
1048570   -73.949281
1048571   -73.794427
1048572   -73.913562
1048573   -73.955338
1048574   -73.915024
Name: Longitude, Length: 1048575, dtype: float64

Lon_Lat
0          POINT (-73.89529641399997 40.816391847000034)
1           POINT (-73.98282507899995 40.69546894100006)
2           POINT (-74.07748315899995 40.64472613100002)
3           POINT (-73.90906496999997 40.83995593800007)
4           POINT (-73.85147389399998 40.72236368700004)
                               ...
1048570                      POINT (-73.949281 40.69575)
1048571                     POINT (-73.794427 40.705644)
1048572                     POINT (-73.913562 40.671104)
1048573                     POINT (-73.955338 40.690542)
1048574       POINT (-73.9150241703895 40.7694951184418)
Name: Lon_Lat, Length: 1048575, dtype: object

In [51]:
#FINDING DATATYPES
nypd_data.dtypes

ARREST_KEY             int64
ARREST_DATE           object
PD_CD                float64
PD_DESC               object
KY_CD                float64
OFNS_DESC             object
LAW_CODE              object
LAW_CAT_CD            object
ARREST_BORO           object
ARREST_PRECINCT        int64
JURISDICTION_CODE    float64
AGE_GROUP             object
PERP_SEX              object
PERP_RACE             object
X_COORD_CD             int64
Y_COORD_CD             int64
Latitude             float64
Longitude            float64
Lon_Lat               object
dtype: object

In [52]:
#DESCRIBING DATA
print(nypd_data.describe())

         ARREST_KEY         PD_CD         KY_CD  ARREST_PRECINCT  \
count  1.048575e+06  1.048303e+06  1.047852e+06     1.048575e+06
mean   5.268972e+07  5.125931e+02  3.014313e+02     6.054634e+01
std    5.297962e+07  2.583863e+02  1.933695e+02     3.408827e+01
min    1.004641e+07  0.000000e+00  1.010000e+02     1.000000e+00
25%    2.879320e+07  2.730000e+02  1.260000e+02     3.300000e+01
50%    3.740897e+07  5.110000e+02  2.350000e+02     5.200000e+01
75%    5.043571e+07  7.310000e+02  3.520000e+02     8.400000e+01
max    2.671465e+08  9.970000e+02  9.950000e+02     1.230000e+02

       JURISDICTION_CODE    X_COORD_CD    Y_COORD_CD      Latitude  \
count       1.048571e+06  1.048575e+06  1.048575e+06  1.048575e+06
mean        1.219199e+00  1.005240e+06  2.111832e+05  4.074626e+01
std         9.179831e+00  1.964311e+04  6.781198e+04  1.840485e-01
min         0.000000e+00  9.139420e+05  1.211310e+05  4.049891e+01
25%         0.000000e+00  9.939600e+05  1.870750e+05  4.068003e+01
50%         0.000000e+00  1.004820e+06  2.107830e+05  4.074519e+01
75%         0.000000e+00  1.015505e+06  2.374830e+05  4.081847e+01
max         9.700000e+01  1.067249e+06  8.202360e+06  6.208307e+01

          Longitude
count  1.048575e+06
mean  -7.392422e+01
std    7.085238e-02
min   -7.425285e+01
25%   -7.396499e+01
50%   -7.392575e+01
75%   -7.388711e+01
max   -7.368178e+01

In [53]:
#INFORMATION OF DATASET
nypd_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 19 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   ARREST_KEY         1048575 non-null  int64
 1   ARREST_DATE        1048575 non-null  object
 2   PD_CD              1048303 non-null  float64
 3   PD_DESC            1048053 non-null  object
 4   KY_CD              1047852 non-null  float64
 5   OFNS_DESC          1048053 non-null  object
 6   LAW_CODE           1048507 non-null  object
 7   LAW_CAT_CD         1045176 non-null  object
 8   ARREST_BORO        1048571 non-null  object
 9   ARREST_PRECINCT    1048575 non-null  int64
 10  JURISDICTION_CODE  1048571 non-null  float64
 11  AGE_GROUP          1048575 non-null  object
 12  PERP_SEX           1048575 non-null  object
 13  PERP_RACE          1048575 non-null  object
 14  X_COORD_CD         1048575 non-null  int64
 15  Y_COORD_CD         1048575 non-null  int64
 16  Latitude           1048575 non-null  float64
 17  Longitude          1048575 non-null  float64
 18  Lon_Lat            1048575 non-null  object
dtypes: float64(5), int64(4), object(10)
memory usage: 152.0+ MB

In [54]:
for col in nypd_data.select_dtypes(include='object'):
  mode_values = nypd_data[col].mode()

  if not mode_values.empty:
    nypd_data[col] = nypd_data[col].fillna(mode_values[0])
  else:
    nypd_data[col] = nypd_data[col].fillna('Unknown')

In [55]:
for col in nypd_data.select_dtypes(exclude='object'):
  nypd_data[col] = nypd_data[col].fillna(nypd_data[col].mean())

In [56]:
nypd_data.isnull().sum()

ARREST_KEY           0
ARREST_DATE          0
PD_CD                0
PD_DESC              0
KY_CD                0
OFNS_DESC            0
LAW_CODE             0
LAW_CAT_CD           0
ARREST_BORO          0
ARREST_PRECINCT      0
JURISDICTION_CODE    0
AGE_GROUP            0
PERP_SEX             0
PERP_RACE            0
X_COORD_CD           0
Y_COORD_CD           0
Latitude             0
Longitude            0
Lon_Lat              0
dtype: int64

In [60]:
import sqlite3

# Load data into SQLite for SQL queries
conn = sqlite3.connect(':memory:')
nypd_data.to_sql('nypd_arrests', conn, index=False, if_exists='replace')


query1 = """
SELECT * FROM nypd_arrests
WHERE OFNS_DESC = 'RAPE 1'
AND ARREST_DATE BETWEEN '2009-02-08' AND '2018-02-08'
"""
OFNS_DESC = pd.read_sql(query1, conn)
print("OFSN DESC:\n", OFNS_DESC.head())

OFSN DESC:
 Empty DataFrame
Columns: [ARREST_KEY, ARREST_DATE, PD_CD, PD_DESC, KY_CD, OFNS_DESC, LAW_CODE, LAW_CAT_CD, ARREST_BORO, ARREST_PRECINCT, JURISDICTION_CODE, AGE_GROUP, PERP_SEX, PERP_RACE, X_COORD_CD, Y_COORD_CD, Latitude, Longitude, Lon_Lat]
Index: []

In [61]:
crime_counts = nypd_data.groupby('OFNS_DESC')['PD_CD'].count().reset_index()

# Rename columns for clarity
crime_counts.columns = ['Crime Type', 'Total Arrests']

# Sort by number of arrests (optional, for readability)
crime_counts = crime_counts.sort_values(by='Total Arrests', ascending=False)

# Display the result
print("Total Arrests by Crime Type:\n", crime_counts)

Total Arrests by Crime Type:
                                 Crime Type  Total Arrests
17                         DANGEROUS DRUGS         267212
8             ASSAULT 3 & RELATED OFFENSES          92889
16                       CRIMINAL TRESPASS          56338
70                OTHER TRAFFIC INFRACTION          49838
67                        OTHER STATE LAWS          48785
..                                     ...            ...
3                     ADMINISTRATIVE CODES              1
83              UNDER THE INFLUENCE, DRUGS              1
84          UNLAWFUL POSS. WEAP. ON SCHOOL              1
53               NEW YORK CITY HEALTH CODE              1
58  OFFENSES AGAINST MARRIAGE UNCLASSIFIED              1

[87 rows x 2 columns]